@media ( max-width: 1440px)
  .container
    max-width: 1200px
  .universities
    &-mainblock
      height: 598px

@media ( max-width: 1200px)
  .container
    max-width: 990px
  .header
    &__title
      font-size: 20px
    &__subtitle
      font-size: 13px
  .about
    &__text
      font-size: 32px
    &__button
      font-size: 22px
  .universities
    &-mainblock
      height: 438px
    &-text
      width: 1100px
      padding-right: 40px
    &__img
      height: 500px
    &__icon
      width: 400px
      &--icon1
        position: relative
        top: -70px
        left: 1px
        right: 1px
        z-index: 70
      &--icon2
        position: relative
        top: -175px
        left: -135px
        width: 350px
        right: 1px
        z-index: 80
      &--icon3
        position: relative
        top: -385px
        width: 320px
        left: 140px
        right: 1px
        z-index: 90    
    &__title
      font-size: 60px
  .university
    &__name
      font-size: 40px
      width: 994px
  .chgu, .chgpu, .ggntu
    &__title
      font-size: 45px
    &__title, &__subtitle
      width: 995px
    &__subtitle
      width: 995px
      top: 10px
      transform: translateY(70%)
    &__header
      &--titleV2
        color: $text-color
        font-size: 17px
      &--subtitleV2
        color: $text-color
        font-size: 12px 
  .chgpu
    &__title
      transform: translateY(120%)
    &__subtitle
      transform: translateY(50%)
@media ( max-width: 995px)
  .container
    max-width: 790px
  .header
    padding: 20px 0 10px
    &-wrapper
      height: 35px
  .about
    &__text
      font-size: 28px
      width: 100%
    &__button
      font-size: 20px
  .universities
    margin-top: 0
    &-mainblock
      height: 368px
    &-text
      width: 1100px
      padding-right: 85px
    &__img
      height: 400px
    &__button
      font-size: 16px
    &__icon
      &--icon1
        position: relative
        top: -15px
        width: 300px
        left: 1px
        right: 1px
        z-index: 70
      &--icon2
        position: relative
        top: -80px
        left: -115px
        width: 250px
        right: 1px
        z-index: 80
      &--icon3
        position: relative
        top: -225px
        width: 220px
        left: 80px
        right: 1px
        z-index: 90    
    &__title
      font-size: 50px
    &__subtitle
      font-size: 18px
  .university
    &__name
      font-size: 40px
      width: 800px
      transform: translateY(100%)
  .chgu, .chgpu, .ggntu
    &-info, &__img
      height: 530px
      object-fit: cover
    &__title
      transform: translateY(90%)
      font-size: 40px
    &__title, &__subtitle
      width: 800px
    &__subtitle
      font-size: 28px
  .chgpu
    &__title
      transform: translateY(60%)
    &__subtitle
      transform: translateY(60%)
  .chgu
    &-info, &__img
      height: 490px
    &__title
      transform: translateY(40%)
    &__subtitle
      transform: translateY(50%)
    &__header
      background-color: #425167//#465268c7
      //padding: 20px 0 0
      &--titleV2
        color: $text-color
        font-size: 16px
      &--subtitleV2
        color: $text-color
        font-size: 10px 
@media ( max-width: 800px)
  .container
    max-width: 665px 
  .about
    &__text
      font-size: 25px
      margin-bottom: 80px
    &__button
      font-size: 18px
  .universities
    &-mainblock
      height: 339px
    &-text
      width: 1100px
      padding-right: 85px
    &__img
      height: 340px
    &__icon
      &--icon1
        position: relative
        top: -15px
        width: 285px
        left: -25px
        right: 1px
        z-index: 70
      &--icon2
        position: relative
        top: -85px
        left: -102px
        width: 240px
        right: 1px
        z-index: 80
      &--icon3
        position: relative
        top: -210px
        width: 190px
        left: 55px
        right: 1px
        z-index: 90    
    &__title
      font-size: 45px
    &__subtitle
      font-size: 17px
  .university
    &__name
      font-size: 32px
      width: 700px
      transform: translateY(250%)
    &__name3
      transform: translateY(90%) 
  .chgu,.chgpu, .ggntu
    &-info, &__img
      object-fit: cover
      height: 450px
    &__title
      font-size: 36px
      transform: translateY(50%)
    &__title, &__subtitle
      width: 700px
    &__subtitle
      transform: translateY(50%)
      font-size: 25px
  .chgpu
    &-info, &__img
      height: 500px
  .ggntu
    &-info, &__img
      height: 440px
    &__subtitle
      transform: translateY(60%)
@media ( max-width: 700px)
  .container
    max-width: 585px
  .universities
    &-mainblock
      height: 309px
    &__img
      height: 310px
      object-fit: cover
    &__button
      font-size: 14px
      padding: 6px
    &__icon
      &--icon1
        position: relative
        top: -15px
        width: 270px
        left: -25px
        right: 1px
        z-index: 70
      &--icon2
        position: relative
        top: -85px
        left: -102px
        width: 225px
        right: 1px
        z-index: 80
      &--icon3
        position: relative
        top: -210px
        width: 180px
        left: 53px
        right: 1px
        z-index: 90    
    &__title
      font-size: 38px
  .university
    &__name
      font-size: 30px
      width: 600px
      transform: translateY(100%)
    &__name3
      transform: translateY(50%)  
  .chgu, .chgpu, .ggntu
    &__title
      font-size: 33px
    &__title, &__subtitle
      width: 600px
    &__subtitle
      font-size: 23px
  .chgu
    &-info, &__img
      height: 430px
    &__header
      &--titleV2
        font-size: 15px
      &--subtitleV2 
        font-size: 10px     
  .chgpu
    &-info, &__img
      height: 470px
  .ggntu
    &-info, &__img
      height: 470px
    &__title
      transform: translateY(33%)     
    &__subtitle
      transform: translateY(70%)
@media ( max-width: 600px)
  .container
    max-width: 480px
  .header
    &__title
      font-size: 20px
  .about
    &__text
      font-size: 22px
      margin-bottom: 70px
    &__button
      font-size: 16px
      padding: 15px 40px
  .universities
    &__button
      font-size: 12px
    &-mainblock
      height: 280px
    &__img
      height: 290px
    &__icon
      &--icon1
        position: relative
        top: -24px
        width: 220px
        left: -25px
        right: 1px
        z-index: 70
      &--icon2
        position: relative
        top: -75px
        left: -75px
        width: 180px
        right: 1px
        z-index: 80
      &--icon3
        position: relative
        top: -154px
        width: 160px
        left: 42px
        right: 1px
        z-index: 90    
    &__title
      font-size: 30px
    &__subtitle
      font-size: 15px
  .university
      &__name
        font-size: 28px
        width: 490px
        transform: translateY(100%)
      &__name3
        transform: translateY(30%)  
  .chgu, .chgpu, .ggntu
    &__title
      font-size: 28px
    &__title, &__subtitle
      width: 490px
    &__subtitle
      font-size: 18px
  .chgu
    &-info, &__img
      height: 330px
    &__header
      &--titleV2
        font-size: 13px
      &--subtitleV2 
        font-size: 8px 
  .chgpu
    &-info, &__img
      height: 360px
    &__subtitle
      transform: translateY(45%)
  .ggntu
    &-info, &__img
      height: 350px
    &__title
      transform: translateY(33%)     
    &__subtitle
      transform: translateY(75%)
  .faculty
    &__name
      font-size: 12px
    &__card
      width: 210px
      height: 110px      
  .faculties
    &-text
      margin: 30px 0
    &__title
      font-size: 22px
  .institute
    &-text
      margin-top: 0
      margin-bottom: 40px
@media ( max-width: 490px)
  .container
    max-width: 380px
  .header
    &__title
      font-size: 15px
    &__subtitle
      font-size: 12px
    &__icon
      width: 40px
      height: 30px
    &-wrapper
      height: 40px
  .about
    &__text
      font-size: 20px
      margin-bottom: 50px
    &__button
      font-size: 14px
      padding: 13px 35px
  .universities
    margin-top: 0
    &__header
      &--wrapper
        height: 30px
    &__button
      font-size: 10px
      padding: 5px
    &-mainblock
      flex-wrap: wrap
      height: auto
    &-text
      display: flex
      flex-direction: column
      justify-content: center
      padding-right: 0
      width: auto
      text-align: center
    &-icons
      display: none
    &-blocks
      margin-top: 20px
    &__img
      height: 225px
      object-fit: inherit
    &__title
      margin-bottom: 40px
    &__subtitle
      font-size: 18px
    &__icon
      &--icon1, &--icon2, &--icon3
        display: none
        height: 1px
      &--icon4
        display: block
        position: relative
        top: -18px
        width: 270px
  .university
      &__name
        font-size: 23px
        width: 380px
        transform: translateY(70%)
      &__name3
        top: 50px
        transform: translateY(30%) 
  .chgu, .chgpu, .ggntu
    &-info, &__img
      object-fit: cover
      height: 330px
    &__title
      font-size: 22px
    &__title, &__subtitle
      width: 380px
    &__subtitle
      font-size: 15px
  .chgu
    &-info, &__img
      height: 280px
    &-info
      margin-top: 30px
    &__header
      padding: 6px
      &--titleV2
        font-size: 12px
      &--subtitleV2 
        font-size: 7px 
  .chgpu
    &-info, &__img
      height: 300px
  .ggntu
    &-info, &__img
      height: 310px    
    &__subtitle
      transform: translateY(70%)
@media ( max-width: 380px)
  .container
    max-width: 315px
  .header
    padding: 15px 0 10px
  .about
    &__text
      font-size: 18px
      margin-bottom: 45px
  .universities
    &__img
      object-fit: cover
    &__title
      font-size: 28px
    &__subtitle
      font-size: 16px
    &__icon
      &--icon4
        width: 220px
  .university
      &__name
        font-size: 20px
        width: 320px
        transform: translateY(80%)
      &__name3
        top: 50px
        transform: translateY(40%) 
  .chgu, .chgpu, .ggntu
    &__title
      font-size: 18px
    &__title, &__subtitle
      width: 320px
    &__subtitle
      font-size: 13px
  .chgu
    &-info, &__img
      height: 250px
    &__subtitle
      transform: translateY(45%)
  .chgpu
    &-info, &__img
      height: 250px
    &__subtitle
      transform: translateY(45%)
  .ggntu
    &-info, &__img
      height: 255px     
    &__subtitle
      transform: translateY(65%)
@media ( max-width: 320px)
  .container
    max-width: 255px  
  .header
    padding: 10px 0 10px
    &__title
      font-size: 13px
    &__subtitle
      font-size: 10px
  .universities
    &__button
      font-size: 8px
    
  .university
      &__name
        font-size: 20px
        width: 260px
        transform: translateY(90%)
      &__name3
        top: 50px
        transform: translateY(20%) 
  .chgu, .chgpu, .ggntu
    &__title
      font-size: 15px
    &__title, &__subtitle
      width: 255px
    &__subtitle
      font-size: 12px
      transform: translateY(35%) 
  .chgu
    &-info, &__img
      height: 235px
    &__header
      padding: 5px
      &--titleV2
        font-size: 10px
      &--subtitleV2 
        font-size: 7px 
  .chgpu
    &-info, &__img
      height: 250px
    &__subtitle
      transform: translateY(33%)
  .ggntu
    &-info, &__img
      height: 255px     
    &__subtitle
      transform: translateY(47%)