@media ( max-width: 1440px)
  .container
    max-width: 1200px
@media ( max-width: 1200px)
  .container
    max-width: 990px
  .header
    &__title
      font-size: 20px
    &__subtitle
      font-size: 13px
  .about
    &__text
      font-size: 32px
    &__button
      font-size: 22px
@media ( max-width: 995px)
  .container
    max-width: 790px
  .header
    padding: 35px 0 10px
  .about
    &__text
      font-size: 28px
      width: 100%
    &__button
      font-size: 20px
@media ( max-width: 800px)
  .container
    max-width: 590px
  .about
    &__text
      font-size: 25px
      margin-bottom: 80px
    &__button
      font-size: 18px
@media ( max-width: 600px)
  .container
    max-width: 480px
  .header
    &__title
      font-size: 20px
  .about
    &__text
      font-size: 22px
      margin-bottom: 70px
    &__button
      font-size: 16px
      padding: 15px 40px
@media ( max-width: 490px)
  .container
    max-width: 380px
  .header
    &__icon
      width: 40px
      height: 30px
  .about
    &__text
      font-size: 20px
      margin-bottom: 50px
    &__button
      font-size: 14px
      padding: 13px 35px
  .universities
    &__title
      font-size: 25px
    &__subtitle
      font-size: 12px
    &__img
      object-fit: cover
      height: 180px
@media ( max-width: 380px)
  .container
    max-width: 315px
  .header
    padding: 30px 0 10px
    &__title
      font-size: 16px
  .about
    &__text
      font-size: 18px
      margin-bottom: 45px
@media ( max-width: 320px)
  .container
    max-width: 255px  
  .header
    padding: 25px 0 10px
    &__title
      font-size: 13px
    &__subtitle
      font-size: 10px
