<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Главная</title>
    <link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/font.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="main__body">
    <header class="header header--mobile--fixed">
      <div class="container">
        <div class="header-wrapper">
          <div class="header__logo">
            <div class="header-icon">
              <a href="/views/index.html">
                <img
                  class="header__icon"
                  src="../img/header-icon.png"
                  alt="icon: cute cloud"
                />
              </a>
            </div>

            <div class="header-text">
              <p class="header__title header__titleV2">BEYMAX</p>
              <p class="header__subtitle header__subtitleV2">be your max</p>
            </div>
          </div>
          <!-- /.header__logo -->
          <form action="index.html">
            <button class="button universities__button main__button">Вернуться</button>
          </form>
        </div>
        <!-- /.header-wrapper -->
      </div>
      <!-- /.container -->
    </header>
    <!-- /.header header--mobile--fixed -->
    <div class="universities">
      <div class="container">
        <div class="universities-wrapper">
          <div class="universities-mainblock">
            <div class="universities-text">
              <h1 class="universities__title">
                На этой странице представлены вузы нашей республики
              </h1>
              <img
                class="universities__icon--icon4"
                src="../img/presentation1.0-removebg.png"
                alt="icon: icon"
              />
              <p class="universities__subtitle">
                Переходи и знакомься с каждым
              </p>
            </div>
            <!-- /.universities-text -->
            <div class="universities-icons">
              <img
                class="universities__icon universities__icon--icon1"
                src="../img/search.png"
                alt="icon: icon"
              /><img
                class="universities__icon universities__icon--icon2"
                src="../img/success.png"
                alt="icon: icon"
              /><img
                class="universities__icon universities__icon--icon3"
                src="../img/location.png"
                alt="icon: icon"
              /><img
                class="universities__icon--icon4"
                src="../img/presentation1.0-removebg.png"
                alt="icon: icon"
              />
            </div>
            <!-- /.universities-icons -->
          </div>
          <!-- /.universities-mainblock -->
        </div>
        <!-- /.universities-wrapper -->
      </div>
      <!-- ./container -->
      <div class="universities-blocks">
        <div class="universities-images">
          <div class="universities-container">
            <div class="university university__chgu">
              <div class="university__title">
                <a href="/views/chgu.html" class="university__name"
                  >чеченский государственный университет имени А.А.Кадырова</a
                >
              </div>
              <img
                class="universities__img"
                src="../img/chgu.jpg"
                alt="image: university"
              />
            </div>
            <div class="university university__chgpu">
              <div class="university__title">
                <a href="/views/chgpu.html" class="university__name"
                  >чеченский государственный педагогический университет</a
                >
              </div>
              <img
                class="universities__img"
                src="../img/chgpu.jpg"
                alt="image: university"
              />
            </div>
            <div class="university university__ggntu">
              <div class="university__title">
                <a href="/views/ggntu.html" class="university__name university__name3"
                  >грозненский государственный нефтяной технический университет
                  имени академика М.Д. Миллионщикова</a
                >
              </div>
              <img
                class="universities__img"
                src="../img/ggntu.jpg"
                alt="image: university"
              />
            </div>
          </div>
          <!-- /.universities-container -->
        </div>
        <!-- /.universities-images -->
      </div>
      <!-- /.blocks -->
    </div>
    <!-- /.universities -->
  </body>
</html>
