<div class="container">
  <div class="header-wrapper universities__header--wrapper">
    <div class="header__logo">
      <div class="header-icon">
        <a href="/">
          <img
            class="header2__icon"
            src="/header-icon.png"
            alt="icon: cute cloud"
          />
        </a>
      </div>

      <div class="header-text">
        <p class="header__title header__titleV2 chgu__header--titleV2">
          BEYMAX
        </p>
        <p class="header__subtitle header__subtitleV2 chgu__header--subtitleV2">
          be your max
        </p>
      </div>
    </div>
    <!-- /.header__logo -->
    <form action="<%=link%>">
      <button class="button universities__button">Вернуться</button>
    </form>
  </div>
  <!-- /.header-wrapper -->
</div>
<!-- /.container -->
