<!DOCTYPE html>
<html lang="ru">
  <head>
    <%-include('./partials/head.ejs')%>
  <body class="chgpu-body">
    <header class="header2 header--mobile--fixed chgpu__header">
      <%- include ('./partials/header.ejs')%>
    </header>
    <%- include ('./partials/universities-description.ejs')%>
    <div class="faculties">
      <div class="container">
        <div class="faculties-wrapper">
          <div class="faculties-text">
            <h1 class="faculties__title">Факультеты</h1>
          </div>
          <!-- /.faculties-text -->
          <div class="faculty">
            <a target="_blank" href="philological.html" class="faculty__link">
              <div class="faculty__card natural">
                <div class="faculty__icon natural__icon"></div>
                <div class="faculty__name">
                  <p class="faculty__title">Факультет естествознания</p>
                </div>
              </div>
              <!-- /.natural -->
            </a>
            <!-- /.faculty__link -->
            <a target="_blank" href="historical.html" class="faculty__link">
              <div class="faculty__card sport">
                <div class="faculty__icon sport__icon"></div>
                <div class="faculty__name">
                  <p class="faculty__title">
                    Факультет физической культуры и спорта
                  </p>
                </div>
              </div>
              <!-- /.sport -->
            </a>
            <!-- /.faculty__link -->
            <a target="_blank" href="lawyer.html" class="faculty__link">
              <div class="faculty__card art">
                <div class="faculty__icon art__icon"></div>
                <div class="faculty__name">
                  <p class="faculty__title">Факультет искусств</p>
                </div>
              </div>
              <!-- /.art -->
            </a>
            <!-- /.faculty__link -->
            <a target="_blank" href="biochem.html" class="faculty__link">
              <div class="faculty__card mathem">
                <div class="faculty__icon mathem__icon"></div>
                <div class="faculty__name">
                  <p class="faculty__title">Физико-математический</p>
                </div>
              </div>
              <!-- /.mathem -->
            </a>
            <!-- /.faculty__link -->
            <a target="_blank" href="fgu.html" class="faculty__link">
              <div class="faculty__card education">
                <div class="faculty__icon education__icon"></div>
                <div class="faculty__name">
                  <p class="faculty__title">
                    Факультет технологии и менеджмента в образовании
                  </p>
                </div>
              </div>
              <!-- /.education -->
            </a>
            <!-- /.faculty__link -->
          </div>
          <!-- /.faculty -->

          <div class="faculties-text institute-text">
            <h1 class="faculties__title institutes__title">Институты</h1>
          </div>
          <!-- /.institutes-text -->

          <div class="faculty institute">
            <a
              target="_blank"
              href="medical.html"
              class="faculty__link institute__link"
            >
              <div class="faculty__card institute__card pedagogy">
                <div class="faculty__icon institute__icon pedagogy__icon"></div>
                <div class="faculty__name institute__name">
                  <p class="faculty__title institute__title">
                    Институт педагогики, психологии и дефектологии
                  </p>
                </div>
              </div>
              <!-- /.pedagogy -->
            </a>
            <!-- /.institute__link -->
            <a
              target="_blank"
              href="agrotech.html"
              class="faculty__link institute__link"
            >
              <div class="faculty__card institute__card oil">
                <div class="faculty__icon institute__icon oil__icon"></div>
                <div class="faculty__name institute__name">
                  <p class="faculty__title institute__title">
                    Институт нефти и газа
                  </p>
                </div>
              </div>
              <!-- /.oil -->
            </a>
            <!-- /.institute__link -->
            <a
              target="_blank"
              href="finance.html"
              class="faculty__link institute__link"
            >
              <div class="faculty__card institute__card philology">
                <div
                  class="faculty__icon institute__icon philology__icon"
                ></div>
                <div class="faculty__name institute__name">
                  <p class="faculty__title institute__title">
                    Институт филологии, истории и права
                  </p>
                </div>
              </div>
              <!-- /.philology -->
            </a>
            <!-- /.institute__link -->
          </div>
          <!-- /.institute -->
        </div>
        <!-- /.faculties-wrapper -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.faculties -->
  </body>
</html>
