<!DOCTYPE html>
<html lang="ru">
  <head>
    <%-include('./partials/head-of-unv.ejs')%>
  </head>
  <body class="chgu-body">
    <header class="header2 header--mobile--fixed chgu__header">
      <%- include ('./partials/header.ejs')%>
    </header>

    <%- include ('./partials/universities-description.ejs')%>

    <div class="faculties">
      <div class="container">
        <div class="faculties-wrapper">
          <div class="faculties-text">
            <h1 class="faculties__title">Факультеты</h1>
          </div>
          <!-- /.faculties-text -->
          <div class="faculty">
            <a target="_blank" href="/philological" class="faculty__link">
              <div class="faculty__card philological">
                <div class="faculty__icon philological__icon"></div>
                <div class="faculty__name">
                  <p class="faculty__title">Филологический</p>
                </div>
              </div>
              <!-- /.philological -->
            </a>
            <!-- /.faculty__link -->
            <a target="_blank" href="historical.html" class="faculty__link">
              <div class="faculty__card historical">
                <div class="faculty__icon historical__icon"></div>
                <div class="faculty__name">
                  <p class="faculty__title">Исторический</p>
                </div>
              </div>
              <!-- /.historical -->
            </a>
            <!-- /.faculty__link -->
            <a target="_blank" href="lawyer.html" class="faculty__link">
              <div class="faculty__card lawyer">
                <div class="faculty__icon lawyer__icon"></div>
                <div class="faculty__name">
                  <p class="faculty__title">Юридический</p>
                </div>
              </div>
              <!-- /.fgu -->
            </a>
            <!-- /.faculty__link -->
            <a target="_blank" href="biochem.html" class="faculty__link">
              <div class="faculty__card biochem">
                <div class="faculty__icon biochem__icon"></div>
                <div class="faculty__name">
                  <p class="faculty__title">Биолого-химический</p>
                </div>
              </div>
              <!-- /.biochem -->
            </a>
            <!-- /.faculty__link -->
            <a target="_blank" href="fgu.html" class="faculty__link">
              <div class="faculty__card fgu">
                <div class="faculty__icon fgu__icon"></div>
                <div class="faculty__name">
                  <p class="faculty__title">
                    Факультет государственного управления
                  </p>
                </div>
              </div>
              <!-- /.fgu -->
            </a>
            <!-- /.faculty__link -->
            <a target="_blank" href="fgg.html" class="faculty__link">
              <div class="faculty__card fgg">
                <div class="faculty__icon fgg__icon"></div>
                <div class="faculty__name">
                  <p class="faculty__title">
                    Факультет географии и <br />
                    геоэкологии
                  </p>
                </div>
              </div>
              <!-- /.fgg -->
            </a>
            <!-- /.faculty__link -->
            <a target="_blank" href="foreign-lang.html" class="faculty__link">
              <div class="faculty__card foreign-languages">
                <div class="faculty__icon foreign-languages__icon"></div>
                <div class="faculty__name">
                  <p class="faculty__title">Факультет иностранных языков</p>
                </div>
              </div>
              <!-- /.foreign-languages -->
            </a>
            <!-- /.faculty__link -->
          </div>
          <!-- /.faculty -->

          <div class="faculties-text institute-text">
            <h1 class="faculties__title institutes__title">Институты</h1>
          </div>
          <!-- /.institutes-text -->

          <div class="faculty institute">
            <a
              target="_blank"
              href="medical.html"
              class="faculty__link institute__link"
            >
              <div class="faculty__card institute__card medical">
                <div class="faculty__icon institute__icon medical__icon"></div>
                <div class="faculty__name institute__name">
                  <p class="faculty__title institute__title">Медицинский</p>
                </div>
              </div>
              <!-- /.medical -->
            </a>
            <!-- /.institute__link -->
            <a
              target="_blank"
              href="agrotech.html"
              class="faculty__link institute__link"
            >
              <div class="faculty__card institute__card agrotech">
                <div class="faculty__icon institute__icon agrotech__icon"></div>
                <div class="faculty__name institute__name">
                  <p class="faculty__title institute__title">
                    Агротехнологический
                  </p>
                </div>
              </div>
              <!-- /.agrotech -->
            </a>
            <!-- /.institute__link -->
            <a
              target="_blank"
              href="finance.html"
              class="faculty__link institute__link"
            >
              <div class="faculty__card institute__card finance">
                <div class="faculty__icon institute__icon finance__icon"></div>
                <div class="faculty__name institute__name">
                  <p class="faculty__title institute__title">
                    Институт экономики и финансов
                  </p>
                </div>
              </div>
              <!-- /.finance -->
            </a>
            <!-- /.institute__link -->
            <a
              target="_blank"
              href="progr.html"
              class="faculty__link institute__link"
            >
              <div class="faculty__card institute__card progr">
                <div class="faculty__icon institute__icon progr__icon"></div>
                <div class="faculty__name institute__name">
                  <p class="faculty__title institute__title">
                    Институт математики, физики и информационных технологий
                  </p>
                </div>
              </div>
              <!-- /.progr -->
            </a>
            <!-- /.institute__link -->
          </div>
          <!-- /.institute -->
        </div>
        <!-- /.faculties-wrapper -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.faculties -->
  </body>
</html>
