<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ошибка</title>
</head>
<body>
  <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/slider.css" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
    />
    <script src="js/main.js" defer></script>
  </head>
  <body>
    <div class="error-block">
      <div class="container">
         <h3 class='error__title'>о нет...возникла ошибка</h3>
   <h4 class='error__subtitle'>в качестве компенсации примите фотографию милой выдры ^^</h4>

   <img class = 'error__image' src="https://wl-adme.cf.tsp.li/resize/728x/jpg/ab4/bfb/a302565dfa9a0295a824d21e32.jpg" alt="image: выдра">
      </div>
    </div>
  
</body>
</html>