<!DOCTYPE html>
<html lang="ru">
  <%-include('./partials/head.ejs')%>
  <body class="ggntu-body">
    <header class="header2 header--mobile--fixed ggntu__header">
      <%- include ('./partials/header.ejs')%>
    </header>
    <%- include ('./partials/universities-description.ejs')%>

    <div class="faculties">
      <div class="container">
        <div class="faculties-wrapper">
          <div class="faculties-text institute-text">
            <h1 class="faculties__title institutes__title">Институты</h1>
          </div>
          <!-- /.institutes-text -->

          <div class="faculty institute">
            <a
              target="_blank"
              href="medical.html"
              class="faculty__link institute__link"
            >
              <div class="faculty__card institute__card programmer">
                <div
                  class="faculty__icon institute__icon programmer__icon"
                ></div>
                <div class="faculty__name institute__name">
                  <p class="faculty__title institute__title">
                    Институт прикладных информационных технологий
                  </p>
                </div>
              </div>
              <!-- /.programmer -->
            </a>
            <!-- /.institute__link -->
            <a
              target="_blank"
              href="agrotech.html"
              class="faculty__link institute__link"
            >
              <div class="faculty__card institute__card gas">
                <div class="faculty__icon institute__icon gas__icon"></div>
                <div class="faculty__name institute__name">
                  <p class="faculty__title institute__title">
                    Институт нефти и газа
                  </p>
                </div>
              </div>
              <!-- /.gas -->
            </a>
            <!-- /.institute__link -->
            <a
              target="_blank"
              href="finance.html"
              class="faculty__link institute__link"
            >
              <div class="faculty__card institute__card business">
                <div class="faculty__icon institute__icon business__icon"></div>
                <div class="faculty__name institute__name">
                  <p class="faculty__title institute__title">
                    Институт цифровой экономики и технологического
                    предпринимательства
                  </p>
                </div>
              </div>
              <!-- /.business -->
            </a>
            <!-- /.institute__link -->
            <a
              target="_blank"
              href="progr.html"
              class="faculty__link institute__link"
            >
              <div class="faculty__card institute__card building">
                <div class="faculty__icon institute__icon building__icon"></div>
                <div class="faculty__name institute__name">
                  <p class="faculty__title institute__title">
                    Институт строительства, архитектуры и дизайна
                  </p>
                </div>
              </div>
              <!-- /.building -->
            </a>
            <!-- /.institute__link -->
            <a
              target="_blank"
              href="progr.html"
              class="faculty__link institute__link"
            >
              <div class="faculty__card institute__card energy">
                <div class="faculty__icon institute__icon energy__icon"></div>
                <div class="faculty__name institute__name">
                  <p class="faculty__title institute__title">
                    Институт энергетики
                  </p>
                </div>
              </div>
              <!-- /.energy -->
            </a>
            <!-- /.institute__link -->
          </div>
          <!-- /.institute -->
          <div class="faculties-text">
            <h1 class="faculties__title">Факультеты</h1>
          </div>
          <!-- /.faculties-text -->
          <div class="faculty">
            <a target="_blank" href="philological.html" class="faculty__link">
              <div class="faculty__card professional">
                <div class="faculty__icon professional__icon"></div>
                <div class="faculty__name">
                  <p class="faculty__title">
                    Факультет среднего профессионального образования
                  </p>
                </div>
              </div>
              <!-- /.professional -->
            </a>
          </div>
          <!-- /.faculty__link -->
        </div>
        <!-- /.faculties-wrapper -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.faculties -->
  </body>
</html>
