<!DOCTYPE html>
<html lang="ru">
  <%- include ('./partials/head.ejs')%>

  <body class="directions__body">
    <header class="header header--mobile--fixed">
      <%- include ('./partials/header-black-theme.ejs')%>
    </header>

    <div class="directions">
      <div class="container">
        <div class="directions-wrapper">
          <div class="directions-text">
            <h1 class="directions__title">лекция</h1>
          </div>
          <!-- ./directions-text -->
          <div class="lecture__body">
            <span class="lecture__text"
              ><span class="lecture__title">
                Тема: Интернет как новый канал коммуникации в работе
                журналиста.</span
              >
              <p class="lecture__maintext">
                При умелом использовании служб Интернета перед журналистом
                открываются широчайшие возможности, а именно: - доступ к
                неограниченному количеству ресурсов в Интернете вне зависимости
                от географии их местонахождения - электронным библиотекам,
                словарям, энциклопедиям, статистическим данным, адресам, сетевым
                базам данных, архивам и т.п.; - скорость доступа через поисковые
                машины - на поиск необходимой информации затрачивается несколько
                минут. Чем правильнее будет сформулирован запрос, тем
                результативнее будет работа по поиску нужных документов.
                Поисковая мощь ценится, прежде всего, теми, кто начинал свою
                деятельность в досетевую эпоху, когда приходилось собирать
                данные в течение длительного времени. Журналисту в Интернете
                доступны следующие виды информации:- факты; - комментарии; -
                аналитика; - справочная информация; - иллюстрации; - видео- и
                аудиоинформация. Источниками такой информации могут служить СМИ,
                представленные в сети, документы официальных учреждений, данные,
                представленные различными организациями, научная, тематическая,
                публицистическая литература, результаты аналитических
                исследований, материалы конференций, чатов, форумов, круглых
                столов и других интерактивных форм. Прежде всего, журналист
                должен уметь находить в Интернете нужную ему информацию. Для
                этого необходимо знать принципы работы и поиска в Интернете.
              </p>
            </span>
          </div>
          <div class="directions-text">
            <h1 class="directions__title">практика</h1>
          </div>
          <div class="lecture__body practice__title">
            <span class="lecture__text"
              ><span class="lecture__title">
                Лабораторная: сделать обзор телеграмм и ютуб каналов на определенную тематику.</span
              >
            </span>
          </div>
        </div>
      </div>
    </div>
    <script src="/arrow.js" defer></script>
  </body>
</html>
