<!DOCTYPE html>
<html lang="ru">
  <%- include ('./partials/head-of-unv.ejs')%>

  <body class="directions__body">
    <header class="header header--mobile--fixed">
      <%- include ('./partials/header-black-theme.ejs')%>
    </header>

    <div class="directions">
      <div class="container">
        <div class="directions-wrapper">
          <div class="directions-text">
            <h1 class="directions__title">лекция</h1>
          </div>
          <!-- ./directions-text -->
          <div class="lecture">
            <% for(var i=0; i < subject.lectures.length; i++) {%>
          <div class="lecture__body">
            <span class="lecture__text"
              >
              <p class="lecture__maintext">
                <%= subject.lectures[i].lecture%>
              </p>
            </span>
          </div>
          <div class="directions-text">
            <h1 class="directions__title">практика</h1>
          </div>
          <div class="lecture__body practice__title">
            <span class="lecture__text"
              ><span class="lecture__title">
                 <%= subject.lectures[i].practice%></span
              >
            </span>
          </div> 
          <% } %>
        </div>
       
        </div>
      </div>
    </div>
    <script src="/arrow.js" defer></script>
  </body>
</html>
