<!DOCTYPE html>
<html lang="ru">
  <%- include ('./partials/head-of-unv.ejs')%>

  <body class="directions__body">
    <header class="header header--mobile--fixed">
      <div class="container">
        <div class="header-wrapper">
          <div class="header__logo">
            <div class="header-icon">
              <a href="/">
                <img
                  class="header__icon"
                  src="/header-icon.png"
                  alt="icon: cute cloud"
                />
              </a>
            </div>

            <div class="header-text">
              <p class="header__title header__titleV2">BEYMAX</p>
              <p class="header__subtitle header__subtitleV2">be your max</p>
            </div>
          </div>
          <!-- /.header__logo -->
        </div>
        <!-- /.header-wrapper -->
      </div>
      <!-- /.container -->
    </header>
          <% for(var i=0; i < subject.lectures.length; i++) {%>

    <div class="directions">
      <div class="container">
        <div class="directions-wrapper">
          <div class="directions-text">
            <h1 class="directions__title">
              лекция | <%= subject.lectures[i].item%>
            </h1>
          </div>
          <!-- ./directions-text -->
          <div class="lecture">
            <div class="lecture__body">
              <span class="lecture__text">
                <p class="lecture__maintext">
                  <%= subject.lectures[i].lecture%>
                </p>
              </span>
            </div>
            <div class="directions-text">
              <h1 class="directions__title">практика</h1>
            </div>
            <div class="lecture__body practice__title">
              <span class="lecture__text"
                ><span class="lecture__title">
                  <%= subject.lectures[i].practice%></span
                >
              </span>
            </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <script src="/arrow.js" defer></script>
  </body>
</html>
