.faculties
  &-text
    text-align: center
    margin: 60px 0
  &__title
    font-family: Bebas Neue
    font-size: 50px
    color: $text-blue//#ffb400
.faculty
  display: flex
  justify-content: space-around
  align-items: center
  align-content: center
  flex-wrap: wrap
  &__link
    display: block
  &__title
    margin: 0
    color: black
  &__name
    background-color: white
    width: auto
    height: 65px
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    font-size: 15px
    font-family: Comfortaa
    border-radius: 0 0 10px 10px
  &__icon
    width: 100%
    height: 100%
    background-size: contain
    background-repeat: no-repeat
    background-position: center
    text-align: center
    z-index: 4
    background-color: lightblue 
    border: 1px solid transparent
    border-radius: 10px 10px 0 0   
  &__card
    width: 305px//250px
    height: 150px
    margin-bottom: 100px
    cursor: pointer  
.medical
  &__icon
    background-image: url(/bermuda-190.png)
.philological
  &__icon
    background-image: url(/surr-574.png)
    background-color: #a10089
.historical
  &__icon
    background-image: url(/4215043.png)
    background-color: #ed9e00//#aba69c//#057881
.lawyer
  &__icon
    background-image: url(/lawyer.png)
    background-color: #008ab9//#b93b00
.biochem
  &__icon
    background-image: url(/biochem.png)
    background-color: #6b93a1
.fgu
  &__icon
    background-image: url(/fguu.png)
    background-color: #db2424
.fgg
  &__icon
    background-image: url(/fgg.png)
    background-color: #17321a
.foreign-languages
  &__icon
    background-image: url(/foreign-lang.png)
    background-color: #5672b9
.agrotech
  &__icon
    background-image: url(/agrotech.png)
    background-color: #04913f
.finance
  &__icon
    background-image: url(/finance.png)
    background-color: #637ea3
.progr
  &__icon
    background-image: url(/progr.png)
    background-color: #2aaf9a
.natural
  &__icon
    background-image: url(/nature.png)
    background-color: #aaddc0
.sport
  &__icon
    background-image: url(/sport.png)
    background-color: #088799
.art
  &__icon
    background-image: url(/art.png)
    background-color: #cf55e9
.mathem
  &__icon
    background-image: url(/mathem.png)
    background-color: #000
.education
  &__icon
    background-image: url(/learn.png)
    background-color: #0064a5
.pedagogy
  &__icon
    background-image: url(/teacher.png)
    background-color: #e79795
.oil
  &__icon
    background-image: url(/gas.png)
    background-color: #d97400
.philology
  &__icon
    background-image: url(/philology.png)
    background-color: #bb00ff
.programmer
  &__icon
    background-image: url(/programmer.png)
    background-color: #644e9f
.gas
  &__icon
    background-image: url(/gas.png)
    background-color: #b50000
.business
  &__icon
    background-image: url(/business.png)
    background-color: #035595
.building
  &__icon
    background-image: url(/build.png)
    background-color: #dd9f00
.energy
  &__icon
    background-image: url(/energy.png)
    background-color: #a5ecf5
.professional
  &__icon
    background-image: url(/professional.png)
    background-color: #ff87e5//#ff87e5c7
.institute
  &-text
    margin-top: 40px
  &__name
    height: 75px
  &__card
    margin-bottom: 110px
.imagee
  text-align: center
  display: flex
  justify-content: center