.header
  padding: 20px 0
  &-wrapper
    display: flex
    justify-content: flex-start
    align-items: center
  &__icon
    width:  50px//33
    height: 40px ///28
    margin-right: 14px
  &__title, &__subtitle
    color: $text-color
    tab-size: 24px
    font-family: 'Comfortaa'
    margin: 0
  &__subtitle
    // margin-top: 5px
    font-size: 15px